@@ -1,6 +1,7 @@
+img[alt="kitty-1"]
 /* Select the image with a class of kitty-1 */
 
-/*__write_selector_here__*/ {
+.kitty-1 {
   position: absolute;
   z-index: 1;
   top: 276px;
@@ -9,16 +10,17 @@
 
 /* Select the image with id of kitty-2 */
 
-/*__write_selector_here__*/ {
+img[alt="kitty-2"] {
   position: absolute;
   z-index: 2;
   top: 212px;
   left: 369px;
 }
 
+
 /* Select the image inside the element with an id of basket (using its descendent relationship) */
 
-/*__write_selector_here__*/ {
+img[alt="#basket li"] {
   position: absolute;
   z-index: 5;
   top: 291px;
@@ -27,7 +29,7 @@
 
 /* Select the image based on it being a sibling that follows immediately after the element with an id of ball (using adjacent sibling selector) */
 
-/*__write_selector_here__*/ {
+img[alt="#ball+"] {
   position: absolute;
   z-index: 4;
   top: 260px;
@@ -36,7 +38,7 @@
 
 /* Select the image that has an attribute value matching "Kitty 5" (using attribute selector) */
 
-/*__write_selector_here__*/ {
+img[alt="Kitty 5"] {
   position: absolute;
   z-index: 3;
   top: 217px;